@font-face {
  font-family: "ksdhy"; /* Project id 4662640 */
  src: url('iconfont.woff2?t=1724383802386') format('woff2'),
       url('iconfont.woff?t=1724383802386') format('woff'),
       url('iconfont.ttf?t=1724383802386') format('truetype');
}

.ksdhy {
  font-family: "ksdhy" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai210:before {
  content: "\e6c6";
}

.icon-guding:before {
  content: "\e614";
}

